.container
  %h2 Branket 
  .task
    - if @tasks.eyecatch.attached?
      .task_eyecatch
        = image_tag @tasks.eyecatch 
    .task_title
      = @tasks.title
    .task_content
      = @tasks.content
    .task_message
      %p 23
      = image_tag 'message.png'

 