@import './variables';

$avatar-size2: 64px;

.task_title{
font-weight: bold;
font-size: 26px;
margin-bottom: 32px;
margin-left: 32px;
}

.comment_title{
  font-weight: bold;
font-size:16px;
margin-bottom: 32px;
margin-left: 32px;
}

.task_eyecatch{

    height: 150px;
    position: relative;
    overflow: hidden;
    margin-bottom: 32px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 90%;
      height:100%;
      border-radius: 10px;
    }
}


.task_content{

  background-color: $base-box-color;
  margin: 16px auto;
  height: 350px;
  width: 90%;
  border-radius: 10px;

}

.comment{

  display: flex;
  margin-bottom: 10px;

&_detail {
  font-size: 10px;
  margin-left: 15px;
  margin-top: 10px;
  display: inline-block;

  img {
    width: $avatar-size2;
    height: $avatar-size2;
    border-radius: 100%;

  }
}

&_content{
font-size: 16px;
  padding: 32px;
}

}